<%= form_with url: link_intents_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :product %>
    <%= form.select :product, ['movements'], {}, required: true %>
  </div>

  <div>
    <%= form.label :country %>
    <%= form.select :country, ['cl'], {}, required: true %>
  </div>

  <div>
    <%= form.label :holder_type %>
    <%= form.select :holder_type, ['individual', 'business'], {}, required: true %>
  </div>

  <%= form.submit "Create Link Intent" %>
<% end %>
