<h1>Exchange Tokens</h1>

<table class="table">
  <thead>
    <tr>
      <th>Token</th>
      <th>Link Intent ID</th>
    </tr>
  </thead>
  <tbody>
    <% @exchange_tokens.each do |exchange_token| %>
      <tr>
        <td><%= exchange_token.token %></td>
        <td><%= exchange_token.link_intent_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-group">
  <%= form_with url: user_links_path(current_user), method: :post do |form| %>
    <%= form.label :exchange_token, "Exchange Token" %>
    <%= form.text_field :exchange_token %>
    <%= form.submit "Create Link" %>
  <% end %>

</div>
